/*
 * Tags
 * style.css
 */
 
@font-face {
  font-family: Portal;
  src: url('../fonts/OpenDinSchriftenEngshrift.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SubPortal;
  src: url('../fonts/LeagueGothic.otf');
  font-weight: normal;
  font-style: normal;
}
 
body {
  margin : 0;
  padding : 0;

  background-image : url('../img/background.png');
  background-repeat : repeat;
}

#all {
  position : relative;
  
	margin : 80px auto;
	padding : 10px;
	width : 800px;
	
	background : white;
	
	border: 30px solid black;
	
	-moz-box-shadow: 4px 4px 4px #555;
    -webkit-box-shadow: 4px 4px 4px #555;
    box-shadow: 4px 4px 4px #555;
}

#user {
    position: absolute;
    
    margin : 0;
    padding : 6px 14px;
    
    top: 0;
    left: 25px;
    
    background: white;
    
    font-family : 'Portal', sans-serif;
	font-size : 20px;
    
    -moz-box-shadow: 1px 1px 1px #bbb;
    -webkit-box-shadow: 1px 1px 1px #bbb;
    box-shadow: 1px 1px 1px #bbb;
    
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#user .sub-text {
    font-family : 'SubPortal', sans-serif;
	font-size : 14px;
}

#user .name {
    text-transform : uppercase;
}

#user .unauth {
    color : red;
}

.title {
  position : relative;
  
	margin : 0;
	padding : 0 20px;
	width : 760px;
	
	font-family : 'Portal', sans-serif;
	font-size : 164px;
}

.sub-title {
  position : relative;
  
	margin : 0;
	padding : 0 20px;
	width : 760px;
	
	font-family : 'Portal', sans-serif;
	font-size : 72px;
}

.list {
  position : relative;
  
	margin : 30px 0;
	padding : 0 20px;
	width : 760px;
}

.list ul {
  margin : 0;
	padding : 0;
	
  list-style : none;
}

.list-entry {
  margin : 10px 0;
	padding : 0;
	
	font-family : 'Portal', sans-serif;
	font-size : 24px;
	text-transform : uppercase;
}

.list-entry ul {
  display : block;
  
  margin : 0;
	padding : 0;
	
	list-style : none;
}

.list-entry li {
  position: relative;
  
  display: inline-block;
  
  margin : 2px;
	padding : 0;
	
	width: 50px;
	height: 50px;
	
	background: white;
	
	list-style : none;
	
	border: 5px solid black;
}

.list-entry li img {
  position : absolute;
  display : block;
  
  width: 50px;
  height: 50px;
}

.list-entry li .pop-up {
  position : absolute;
  display : block;
  visibility: hidden;
  
  padding : 3px 10px 4px 60px;
  
  left: -5px;
  top: -5px;
  width: 175px;
  
  background: white;
  
  border: 5px solid black;
}

.list-entry li .pop-up .pop-up-text {
  font-family : 'SubPortal', sans-serif;
  font-size : 12px;
}

.list-entry li:hover img {
  z-index : 2;
}

.list-entry li:hover .pop-up {
  visibility: visible;
  z-index : 1;
}

.sign-up {
  position : relative;
  
	margin : 30px 0;
	padding : 0 20px;
	width : 760px;
	
	font-family : 'Portal', sans-serif;
	font-size : 24px;
	text-transform : uppercase;
}

.sign-up td {
  font-family : 'Portal', sans-serif;
	font-size : 24px;
	text-transform : uppercase;
}

.sign-up td ul {
    margin : 0;
    padding : 0;
    
    list-style-type: none;
}

.sign-up td li {
    margin : 0;
    padding : 0;
    
    color : red;
    
    font-family : 'Portal', sans-serif;
	font-size : 24px;
	text-transform : uppercase;
}

.sign-up input {
  background-color : white;
  border : none;
  font-size : 18px;
  
  border: 2px solid black;
}

.sign-up select {
  background-color : white;
  border : none;
  font-size : 18px;
  
  border: 1px solid black;
}

.sign-up .button input {
  padding : 0;
  margin : 0;
  
  background-color : white;
  border : none;
  font-size : 18px;
  
  width : 100px;
  
  border : 2px solid black;
  
  font-family : 'Portal', sans-serif;
	font-size : 24px;
	text-transform : uppercase;
}
