<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}
  <link media="screen" type="text/css" href="/static/css/style.css" rel="stylesheet" />
  {% endblock %}
  {% block scripts %}
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20667281-9']);
    _gaq.push(['_setDomainName', '.velocitythegame.com']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 
     'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
         'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(ga, s);
     })();
  </script>
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
