{% extends 'base.html' %} 
{% block title %}VELOCITY{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="http://displays.velocity.com/js/autoscroll.js"></script>
{% endblock %}
{% block content %}
  {% include "navigation.html" %}
  <div id="all">
    <div class="title">VELOCITY</div>
    <div class="sub-title">TEST SUBJECTS</div>
    <div class="list">
      <ul>
        {% for user in participants %}
        <li>
          <div class="list-entry">
            {{ user.name }}
            <ul>
              {% for achievement in user.achievements %}
              <li>
                <div class="icon">
                    {% include 'render.html' with render=achievement.default_thumbnail only %}
                    <div class="pop-up">
                      {{ achievement.name }}
                      <div class="pop-up-text">
                        {{ achievement.description }}
                      </div>
                    </div>
                </div>
              </li>
              {% endfor %}
              {% if not request.user or request.user != user %}
              <li>
              <a class="icon" href="{% url nominate participant_id=user.pk %}">
                    <img src="static/img/nominate.png" width="100px" height="100px" />
                    <div class="pop-up">
                      Nominate
                      <div class="pop-up-text">
                        Click to nominate subject for an award.
                      </div>
                    </div>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
