{% extends 'base.html' %} 
{% load thumbnails %}
{% block title %}VELOCITY{% endblock %}
{% block content %}
  {% include "navigation.html" %}
  <div id="all">
    <div class="title">VELOCITY</div>
    <div class="sub-title">NOMINATIONS</div>
    <div class="list">
      <ul class="nominations">
        {% for nomination in nominations %}
        <li>
        {% if is_admin %}
        <a href="{% url admin:achievements_grant_add %}?participant={{ nomination.participant.pk }}&achievement={{ nomination.achievement.pk }}">
        {% endif %}
          {% thumbnail nomination.achievement 30 30 %}
          <span class="list-entry">
            {{ nomination.achievement.name }} &mdash;
            {{ nomination.participant.name }} &mdash;
            {{ nomination.count }} nomination{{ nomination.count.pluralize }}
          </span>
          {% if is_admin %}
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
