{% extends 'base.html' %}
{% block title %}Nominate{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(function(){
        $('.list-entry li').click(function(event){
            var radio = $(event.target).parents('.list-entry li').children('input');
            radio.prop('checked', true);
            $('.list-entry li input').not(radio).prop('checked', false);
        });
    });
</script>
{% endblock %}
{% block content %}
{% include "navigation.html" %}
<div id="all">
<div class="sub-title">NOMINATE PARTICIPANT</div>
<div class="sign-up">
  <center>
    <form method="post" action="{% url nominate participant_id=participant_id %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"/>
      <table border="0" cellspacing="0">
        <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
        <tr><th><label for="id_achievement">Achievement: </label></th>
            <td class="list-entry">{{ form.achievement.errors }}
                <ul>
                {% for achievement in form.fields.achievement.queryset %}
                    <li>
                        <input id="id_achievement_{{ forloop.index0 }}" type="radio"
                            name="achievement" value="{{ achievement.pk }}">
                        <div class="icon">
                            </input>
                            {% include 'render.html' with render=achievement.default_thumbnail only %}
                            <div class="pop-up">
                                {{ achievement.name }}
                                <div class="pop-up-text">
                                    {{ achievement.description }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>You have nothing left to nominate this person for</li>
                {% endfor %}
                </ul>
            </td></tr>
        {% if form.fields.achievement.queryset %}
        <tr>
          <td colspan="2" align="right">
            <div class="button">
              <input type="submit" value="Nominate" />
            </div>
          </td>
        </tr>
        {% endif %}
      </table>
    </form>
  </center>
</div>
{% endblock %}
